.App {
  text-align: center;
}

.table_head {
 display: flex;
 justify-content: space-around;
 border: 1px solid gray;
}

.table {

  width: 600px;
  padding-left: 35%;
  padding-right: 35%

}


.content {
  
  text-align: ;
}